/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00796B; /* Deep Teal */
  --ifm-color-primary-dark: #00695C;
  --ifm-color-primary-darker: #005F54;
  --ifm-color-primary-darkest: #004D40;
  --ifm-color-primary-light: #26A69A;
  --ifm-color-primary-lighter: #4DB6AC;
  --ifm-color-primary-lightest: #80CBC4;

  /* Electric Blue Secondary Accent */
  --color-secondary-accent: #00BCD4;
  --color-secondary-accent-dark: #00ACC1;
  --color-secondary-accent-darker: #0097A7;
  --color-secondary-accent-darkest: #00838F;
  --color-secondary-accent-light: #26C6DA;
  --color-secondary-accent-lighter: #4DD0E1;
  --color-secondary-accent-lightest: #80DEEA;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Lighter Teals for Dark Mode */
  --ifm-color-primary: #26A69A;
  --ifm-color-primary-dark: #00796B;
  --ifm-color-primary-darker: #00695C;
  --ifm-color-primary-darkest: #004D40;
  --ifm-color-primary-light: #4DB6AC;
  --ifm-color-primary-lighter: #80CBC4;
  --ifm-color-primary-lightest: #B2DFDB;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}